@import "../../styles/variables";

.form {
  &__title {
    color: $color-black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  &__item {
    position: relative;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    text-align: right;
    width: 80%;
    column-gap: 40px;
    align-items: center;

    textarea {
      resize: none;
    }
  }

  text-align: center;
}

.error {
  position: absolute;
  right: -25%;
  color: $color-red;
  font-size: 14px;
  max-width: 200px;
}