@import '~antd/dist/antd.css';
@import "~react-toastify/dist/ReactToastify.css";
@import "reset";
@import "variables";

body {
  background-image: url("../assets/bg.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: $color-black;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.container {
  width: 60%;
  margin: auto;
}